/* Styling CSS code that is used with built in bootstrap*/
h1 {
    text-align: center;
    color: green;
    font-size: xxx-large;
    font-weight: 2500;
}

.hide {
    display: none;
}

body {
    background-color: indigo;
}

.container {
    margin-top: 30px;
}

#timeHolder {
    text-align: center;
    color: black;
}

#game {
    text-align: center;
    color: aquamarine;
}

#options {
    text-align: center;
    background-color: indianred;
    width: 40%;
    margin-left: 30%;
    margin-top: 50px;
}

.jumbotron {
    padding-bottom: 20px;
}

.btn {
    color: white;
}